hamen.io/www/public_html/docs/doc/hdoc.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:simpleType name="DocType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="BLOG" />
            <xs:enumeration value="LESSON" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="entryKeyType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="encoding" />
            <xs:enumeration value="lang" />
            <xs:enumeration value="title" />
            <xs:enumeration value="titleID" />
            <xs:enumeration value="description" />
            <xs:enumeration value="category" />
            <xs:enumeration value="subcategory" />
            <xs:enumeration value="tags" />
            <xs:enumeration value="author" />
            <xs:enumeration value="authorID" />
            <xs:enumeration value="date:published" />
            <xs:enumeration value="date:modified" />
            <xs:enumeration value="breadcrumbs" />
            <xs:enumeration value="showInFeed" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="valueType">
        <xs:restriction base="xs:string">
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="AnchorTarget">
        <xs:restriction base="xs:string">
            <xs:enumeration value="_self" />
            <xs:enumeration value="_blank" />
        </xs:restriction>
    </xs:simpleType>

    <xs:element name="b" type="FormattedText"></xs:element>
    <xs:element name="def">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:string">
                    <xs:attribute name="word" type="xs:string" />
                    <xs:attribute name="pos" type="xs:string" />
                    <xs:attribute name="content" type="xs:string" />
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="u" type="FormattedText"></xs:element>
    <xs:element name="mark" type="FormattedText"></xs:element>
    <xs:element name="strong" type="FormattedText"></xs:element>
    <xs:element name="i" type="FormattedText"></xs:element>
    <xs:element name="del" type="FormattedText"></xs:element>
    <xs:element name="code" type="xs:string"></xs:element>
    <xs:element name="link">
        <xs:complexType mixed="true">
            <xs:choice minOccurs="0" maxOccurs="0">
                <xs:element ref="b" minOccurs="0" maxOccurs="unbounded" />
                <xs:element ref="def" minOccurs="0" maxOccurs="unbounded" />
                <xs:element ref="strong" minOccurs="0" maxOccurs="unbounded" />
                <xs:element ref="u" minOccurs="0" maxOccurs="unbounded" />
                <xs:element ref="i" minOccurs="0" maxOccurs="unbounded" />
                <xs:element ref="mark" minOccurs="0" maxOccurs="unbounded" />
                <xs:element ref="del" minOccurs="0" maxOccurs="unbounded" />
                <xs:element ref="code" minOccurs="0" maxOccurs="unbounded" />
            </xs:choice>
            <xs:attribute name="href" type="xs:anyURI" />
            <xs:attribute name="target" type="AnchorTarget" default="_blank" />
        </xs:complexType>
    </xs:element>

    <xs:complexType name="FormattedText" mixed="true">
        <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:element ref="link" minOccurs="0" maxOccurs="unbounded" />
            <xs:element ref="mark" minOccurs="0" maxOccurs="unbounded" />
            <xs:element ref="strong" minOccurs="0" maxOccurs="unbounded" />
            <xs:element ref="b" minOccurs="0" maxOccurs="unbounded" />
            <xs:element ref="u" minOccurs="0" maxOccurs="unbounded" />
            <xs:element ref="i" minOccurs="0" maxOccurs="unbounded" />
            <xs:element ref="del" minOccurs="0" maxOccurs="unbounded" />
            <xs:element ref="def" minOccurs="0" maxOccurs="unbounded" />
            <xs:element ref="code" minOccurs="0" maxOccurs="unbounded" />
        </xs:choice>
    </xs:complexType>

    <xs:simpleType name="UICodeLanguages">
        <xs:restriction base="xs:string">
            <xs:enumeration value="PYTHON" />
            <xs:enumeration value="JAVA" />
            <xs:enumeration value="C++" />
            <xs:enumeration value="C" />
            <xs:enumeration value="LESS" />
            <xs:enumeration value="SCSS" />
            <xs:enumeration value="TERMINAL" />
            <xs:enumeration value="HTML" />
            <xs:enumeration value="CSS" />
            <xs:enumeration value="JS" />
            <xs:enumeration value="JSX" />
            <xs:enumeration value="TS" />
            <xs:enumeration value="TSX" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="ListType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ORDERED" />
            <xs:enumeration value="UNORDERED" />
        </xs:restriction>
    </xs:simpleType>

    <xs:element name="UICode">
        <xs:complexType mixed="true">
            <xs:attribute name="language" use="required" type="UICodeLanguages" />
            <xs:attribute name="tabSize" use="required" type="xs:int" />
        </xs:complexType>
    </xs:element>


    <xs:simpleType name="UIPanelType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="NOTE" />
        </xs:restriction>
    </xs:simpleType>

    <xs:element name="UIPanel">
        <xs:complexType mixed="false">
            <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:element ref="UIText" minOccurs="0" maxOccurs="unbounded" />
                <xs:element ref="UICode" minOccurs="0" maxOccurs="unbounded" />
                <xs:element ref="UIList" minOccurs="0" maxOccurs="unbounded" />
            </xs:choice>
            <xs:attribute name="type" use="required" type="UIPanelType" />
        </xs:complexType>
    </xs:element>

    <xs:element name="UIList">
        <xs:complexType>
            <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:element name="Item" minOccurs="1" maxOccurs="unbounded">
                    <xs:complexType mixed="true">
                        <xs:choice minOccurs="0" maxOccurs="unbounded">
                            <xs:element ref="link" minOccurs="0" maxOccurs="unbounded" />
                            <xs:element ref="strong" minOccurs="0" maxOccurs="unbounded" />
                            <xs:element ref="b" minOccurs="0" maxOccurs="unbounded" />
                            <xs:element ref="u" minOccurs="0" maxOccurs="unbounded" />
                            <xs:element ref="i" minOccurs="0" maxOccurs="unbounded" />
                            <xs:element ref="del" minOccurs="0" maxOccurs="unbounded" />
                            <xs:element ref="def" minOccurs="0" maxOccurs="unbounded" />
                            <xs:element ref="mark" minOccurs="0" maxOccurs="unbounded" />
                            <xs:element ref="code" minOccurs="0" maxOccurs="unbounded" />
                            <xs:element ref="UIList" minOccurs="0" maxOccurs="unbounded" />
                        </xs:choice>
                    </xs:complexType>
                </xs:element>
            </xs:choice>
            <xs:attribute name="type" type="ListType" />
        </xs:complexType>
    </xs:element>

    <xs:element name="UIText" type="FormattedText" />

    <xs:simpleType name="HeadingLevel">
        <xs:restriction base="xs:string">
            <xs:enumeration value="H1" />
            <xs:enumeration value="H2" />
            <xs:enumeration value="H3" />
        </xs:restriction>
    </xs:simpleType>

    <xs:element name="UISection">
        <xs:complexType>
            <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:element name="UIHeading" minOccurs="0" maxOccurs="unbounded">
                    <xs:complexType mixed="true">
                        <xs:choice minOccurs="0">
                            <xs:element ref="link" minOccurs="0" maxOccurs="unbounded" />
                            <xs:element ref="b" minOccurs="0" maxOccurs="unbounded" />
                            <xs:element ref="def" minOccurs="0" maxOccurs="unbounded" />
                            <xs:element ref="u" minOccurs="0" maxOccurs="unbounded" />
                            <xs:element ref="i" minOccurs="0" maxOccurs="unbounded" />
                            <xs:element ref="mark" minOccurs="0" maxOccurs="unbounded" />
                            <xs:element ref="strong" minOccurs="0" maxOccurs="unbounded" />
                            <xs:element ref="del" minOccurs="0" maxOccurs="unbounded" />
                            <xs:element ref="code" minOccurs="0" maxOccurs="unbounded" />
                        </xs:choice>
                        <xs:attribute name="level" type="HeadingLevel" />
                    </xs:complexType>
                </xs:element>
                <xs:element ref="UIText" minOccurs="0" maxOccurs="unbounded" />
                <xs:element ref="UIList" minOccurs="0" maxOccurs="unbounded" />
                <xs:element ref="UIPanel" minOccurs="0" maxOccurs="unbounded" />
                <xs:element ref="UICode" minOccurs="0" maxOccurs="unbounded" />
            </xs:choice>
            <xs:attribute name="id" type="xs:string" />
        </xs:complexType>
    </xs:element>
    <xs:element name="UIBreadcrumbs">
        <xs:complexType>
            <xs:attribute name="crumbs" type="xs:string" />
        </xs:complexType>
    </xs:element>
    <xs:element name="UIHeader">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="UITitle" type="FormattedText"></xs:element>
                <xs:element name="UIText" type="FormattedText"></xs:element>
            </xs:sequence>
            <xs:attribute name="id" type="xs:string" />
        </xs:complexType>
    </xs:element>
    <xs:element name="UIHRule"></xs:element>

    <xs:element name="Doc">
        <xs:complexType>
            <xs:sequence>
            <xs:element name="Properties">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="Entry" maxOccurs="unbounded">
                            <xs:complexType>
                                <xs:attribute name="key" type="entryKeyType" />
                                <xs:attribute name="value" type="valueType" />
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="Document">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="UIBreadcrumbs" maxOccurs="1" minOccurs="1" />
                        <xs:element ref="UIHeader" maxOccurs="unbounded" minOccurs="0" />
                        <xs:element ref="UIHRule" maxOccurs="unbounded" minOccurs="0" />
                        <xs:element ref="UISection" maxOccurs="unbounded" minOccurs="0" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            </xs:sequence>
            <xs:attribute name="docType" use="required" type="DocType" />
            <xs:attribute name="targetGuide" use="optional" type="xs:string" />
        </xs:complexType>
    </xs:element>
</xs:schema>
